.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #lightgray;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  font-size: 24px
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2
}

a#cart {
    display:block;
    width:32px;
    height:32px;
    background:url("/static/images/cart-line-icon.svg");
}

.header-card {
    position: absolute; // absolute is absolute to a relative element
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background: #777;
    color: white;
}

.cancel-button {
  border-radius: 50%;
  padding: 0.5em;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  color: black;
  position: relative;
}
.cancel-button:hover {
  border: 2px solid black;
  background-color: gray;
  color: #ffffff;
}

.cancel-button::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: black;
  width: 2px;
  left: 9px;
  top: 2px;
  bottom: 2px;
  transform: rotate(45deg);
}
.cancel-button::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: black;
  height: 2px;
  top:9px;
  left: 2px;
  right: 2px;
  transform: rotate(45deg);
}
