<!DOCTYPE html>
<html>
<head>
  <title>Product Management</title>
    <script src="/static/js/functions.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Inventory Management System</h1>
<button type="button" class="collapsible" id="products">Products</button>
<div class="content" style="overflow-x:auto; display:block">
    <p>
        {% if products is defined and products|length > 0 %}

    <table id="product-table">
        <tr>
            {% if search_keywords is defined %}
            <td colspan="4" style="border: 0px; text-align: right;">
                <form action="/">
                    <label style="font-size: 14px;" for="cancel">{{ search_keywords }}</label>
                    <button id="cancel-2" type="submit" class="cancel-button"></button>
                </form>
            </td>
            <th colspan="1" style="text-align: right">
                <form action="/">
                    <input type="text" placeholder="Search..." name="keywords">
                    <button type="submit">Submit</button>
                </form>
            </th>
            {% else %}
            <th colspan="5" style="text-align: right">
                <form action="/">
                    <input type="text" placeholder="Search..." name="keywords">
                    <button type="submit">Submit</button>
                </form>
            </th>
            {% endif %}
        </tr>
        <tr>
            <th style="font-size: 24px">Product</th>
            <th style="font-size: 24px">Category</th>
            <th style="font-size: 24px">Price</th>
            <th style="font-size: 24px">Quantity Remaining</th>
            <th>Buy it now</th>
        </tr>
        {% for product in products -%}
        <tr id="product-row-{{ product.product_id }}">
            <td>
                <div style="font-weight: bold; font-size: 20px">{{ product.name }}</div>
                {{ product.description }}
            </td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td id="quantity-{{ product.product_id }}">{{ product.quantity_remaining }}</td>
            <td><a href="javascript:void(0)" onclick="buy('{{ product.product_id }}')" id="cart"></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No products found.

    <table width="100%" style="border: 0px; text-align: right; width: 100%;">
        <tr>
            {% if search_keywords is defined %}
            <td style="border: 0px; text-align: right;">
                <form action="/">
                    <label style="font-size: 14px;" for="cancel">{{ search_keywords }}</label>
                    <button id="cancel" type="submit" class="cancel-button"></button>
                </form>
            </td>
            {% endif %}
            <td width="240">
                <form action="/">
                    <input type="text" placeholder="Search..." name="keywords">
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </table>

    {% endif %}
    </p>
</div>
<p></p>

<button type="button" class="collapsible" id="maintenance">Admin</button>
<div class="content">
    <p><a href="/products/analytics">Product Analytics</a></p>
    <p><a href="/health">Product Management</a></p>
</div>
<p></p>
<div class="header-card">
    Running from {{ computerName }}
</div>


<script>
createCollapsible(document.getElementById("products"));
createCollapsible(document.getElementById("maintenance"));


</script>
</body>
</html>
